<ion-view class="manitoba_tab_map" hide-nav-bar="true">

  <ion-header-bar class="header_bar">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>

    <div class="title" align="center">
      Repro Map
    </div>

    <!--button class="button button-icon button-clear ion-more" id="btnMore" ng-click="goMore()">
    </button-->
  </ion-header-bar>

  <ion-content padding="false" scroll="false">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>

</ion-view>
