<ion-tabs class="tabs-icon-top tabs-bottom manitoba_tabs tabs-balanced">

  <!-- Manitoba Map -->
  <ion-tab title="Map" class="map_tab_item" icon="ion-map" href="#" ng-click="goMap()">
    <ion-nav-view name="manitoba-tab-map" class="nav_view"></ion-nav-view>
  </ion-tab>

  <!-- Manitoba Waypoints -->
  <ion-tab title="Waypoints" class="waypoints_tab_item" icon="ion-location" href="#/app/manitoba-tab/waypoints">
    <ion-nav-view name="manitoba-tab-waypoints" class="nav_view"></ion-nav-view>
  </ion-tab>

  <!-- Manitoba Settings -->
  <ion-tab title="Settings" class="settings_tab_item" icon="ion-gear-a" href="#/app/manitoba-tab/settings">
    <ion-nav-view name="manitoba-tab-settings" class="nav_view"></ion-nav-view>
  </ion-tab>

</ion-tabs>
